body {/* background: #F5FDEF; */margin: 0;/*align-items: center;*/display: flex;flex-direction: column;font-family: Verdana, Geneva, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

h1, h2, h3, h4 {
    margin: 7px 0 7px 0;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.label {
    color: #3a3a3a;
}

p {
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add-dev {
    font-size: 14px;
}

.sign {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 3px;
    cursor: pointer;
}

.sign:hover,
.sign:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px 30px 16px;
}

.modal-body {
    /*padding: 0px 45px 45px;*/
}
.modal-body .modal-input {
    width: 70%;
}
.modal-body .modal-button{
    width: 30%;
}

.modal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}




.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f2f2f2;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.logout-form {
    display: inline-block;
}

.short-btn {
    width: inherit;
    font-weight: 600;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.button:hover, .button:active, .button:focus {
    background: #43A047;
    color: #fff;

}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {

}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.form-checkbox {
    float: left;
}

.form-checkbox input {
    float: left;
    width: initial;
    margin-right: 8px;
    margin-top: 3px;
}

.header {
    position: fixed;
    text-align: right;
    width: 100%;
    box-shadow: 0 0 9px -4px black;
    z-index: 1;
    background-color: #00b5f2;
    margin: 0 auto;
    height: 46px;
}

.header .wrapper {
    max-width: 1000px;
}

.header span{
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.header-buttons {

}


main {
    list-style-type: none;
    position: relative;
    top: 46px;
    /*padding: 0 20px;*/
}

.project-box{
    margin: 0 auto;
    height: calc(100vh - 46px);
    overflow-y: scroll;
}

.project {
    cursor: pointer;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px 16px 2px 10px;
}

.project-box .project-unchosen {
    height: 40px;
    background-color: #4caf50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 25%;
}

.project-box .project-unchosen .fa-angle-right{
    display: none;
}

.project-box .project-chosen .fa-angle-right{
    display: inline-block;
    color: #253625;
    font-size: 1.5em;
    position: absolute;
    left: calc(100% - 10px);
}

.project-box .project-chosen{
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 25%;
    background-color: #307133;
}

.project-box .project-unchosen:hover {
    box-shadow: inset 0 0 6px -5px black;
    background-color: #43a047;
}

.project-box .sign {
    font-size: 18px;
    font-weight: 600;
    color: #90CF72;
    text-shadow: 0px 0px 1px black;
}

.project-box .sign:hover {
    color: #7c3c3c;
}

.project-tasks-amount {
    width: 30%;
    text-align: right;

}

.project-tasks-amount-number {
    background-color: #90cf72;
    border: 2px solid #90cf72;
    border-radius: 4px;
    box-shadow: inset 0 0 6px -2px #000000;
    display: inline-block;
    min-width: 23px;
    text-align: center;
    box-sizing: border-box;
}

.project-name {
    width: 70%;
}

.tasks-box {
    background-color: #f5fdef;
    display: none;
    position: absolute;
    left: 25%;
    top: 0px;
    width: 25%;
}

.tasks-box .tasks-box-header {
    /*height: 60px;*/
    background-color: #aedad7;
    padding: 5px 10px;
}

.heading {
    display: flex;
    align-items: center;
}

.heading .heading-text{
    width: 80%;
    overflow: hidden;
    display: inherit;
}

.heading .signs-box{
    width: 20%;
    text-align: right;
}

.sign {
    font-size: 18px;
    font-weight: 600;
    color: #4ca350;
    text-shadow: 0px 0px 1px black;
}

.devs-box {
    background-color: #ace292;
    border: 4px solid #ace292;
    box-sizing: border-box;
    border-radius: 2px;
    height: 50%;

}

.devs-box p {
    font-size: 0.8em;
    margin: 4px;

}

.project-devs-box {
    height: 90px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 1px;
    border: 1px solid #90cf72;
    box-shadow: inset 0 0 7px -4px black;
    box-sizing: border-box;
}

.project-devs-box .project-developer {

    border-bottom: 1px solid #dceff2;
    padding: 4px 0 4px 4px;
    font-size: 12px;
}

.task-devs-box {
    height: 72%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 1px;
    border: 1px solid #90cf72;
    box-shadow: inset 0 0 7px -4px black;
    box-sizing: border-box;
}

.task-devs-box .task-developer {

    border-bottom: 1px solid #dceff2;
    padding: 4px 0 4px 4px;
    font-size: 12px;
}

.collapse-bar {
    width: 1.5%;
    background-color: #dceff2;
    align-items: center;
    display: flex;
    color: #949494;
    font-size: 14px;
    font-weight: 600;
}

.collapse-bar span {
    margin: 0 auto;
    user-select: none;
}

.collapse-bar:hover {
    background-color: #b6d2d6;
    color: #474747;

}

.tasks-wrapper {
    width: 100%;
    display: inline-block;
    height: calc(100vh - 218px);
    overflow-y: scroll;
}


.task {
    height: 26px;
    padding: 2px 10px;
    background-color: #dceff2;
    border: 0;
    border-left: 1px;
    border-bottom: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.task .task-name {
    width: 65%;
}

.task-status-box {
    width: 35%;
    text-align: right;
}

.task-status{
    background-color: #e6e6e6;
    border: 2px solid;
    border-radius: 3px;
    box-shadow: inset 0 0 6px -2px #000000;
    display: inline-block;
    min-width: 76px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.7em;
    padding: 3px;
}

.task-status-box-waiting {
    border-color: #ae4a4a;
}

.task-status-box-implementation {
    border-color: #4b4bb2;

}

.task-status-box-verifying {
    border-color: #e4e44c;

}

.task-status-box-releasing {
    border-color: #2f9134;

}

.task-status-box-text {

}

.task-description-box {
    background-color: #dceff2;
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 200%;
    height: calc(100vh - 46px);
    box-sizing: border-box;
    border-left: 3px solid #68ada9;
    padding: 0px 10px;
}

.task-unchosen .task-description-box {
    display: none;
}

.task-chosen .task-description-box {
    display: block;
}

.task-description-box .top-box {
    height: 28vh;
    margin-bottom: 10px;
}

.task-description-box .main-box {
    height: 63vh;

}

.task:hover {
    background-color: #bee5e2;
}

.task-chosen .task {
    background-color: #68ada9;
}

.devs-list {
    text-align: left;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.devs-list .modal-dev {
    padding: 4px;
    margin-bottom: 2px;
    border-left: 6px solid #d10000;
}

.devs-list .modal-dev:hover {
    background-color: #cfcfcf;
}

.devs-list .selected{
    border-left: 6px solid #009d00;

}

p.label {
    margin: 7px 0 4px 0;
    font-size: 0.9em;

}

.change-task-status {
    height: 27px;
}

.comments-box-wrapper {
    background-color: #aedad7;
    border: 5px solid #aedad7;
    box-sizing: border-box;
    border-radius: 2px;
    height: 100%;
}

.comments-box {
    width: 100%;
    overflow-y: scroll;
    background-color: #f5fdef;
    border: 1px solid #90cf72;
    border-radius: 2px;
    height: 83%;
}

.comment {
    border-bottom: 1px solid #dceff2;
    min-height: 40px;
    padding: 0px 20px 3px 10px;
}

.no-comments-label {
    width: 100%;
    font-size: 2em;
    color: #c1c1c1;
    text-align: center;
    padding-top: 20vh;
    user-select: none;
    cursor: default;
}

.comment-header {

}

.comment-author {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
    margin-right: 10px;

}

.comment-date {
    display: inline-block;
    font-size: 0.7em;
    color: #4c4c4c;
    letter-spacing: -0.7px;

}

.comment-ismanager {
    display: inline-block;
    font-size: 0.7em;
    background-color: #d3ffbe;
    padding: 3px 4px 2px 4px;
    margin-left: 3px;
    color: #4c4c4c;
    letter-spacing: -0.7px;
}

.comment-isnotmanager {
    display: inline-block;
    font-size: 0.7em;
    background-color: #bae1de;
    padding: 3px 4px 2px 4px;
    margin-left: 3px;
    color: #4c4c4c;
    letter-spacing: -0.7px;
}

.comment-text {
    word-wrap: break-word;
    font-size: 0.9em;
    padding: 3px 0 3px 0;
}

.comment-add {
    display: flex;
    height: 40px;
    align-items: center;
    padding-top: 6px;

}

.add-comment-textarea {
    resize: none;
    width: 90%;
    height: 100%;
    overflow-y: hidden;
    border: 1px solid #90cf72;;
    border-right: none;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
}

.add-comment-textarea:focus {
    outline: none;
    border: 1px solid #4caf50;
    border-right: none;
}

.add-comment-button {
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    background-color: #dceff2;
    border: none;
    cursor: pointer;
    color: #3d3d3d;
    border-radius: 0 2px 2px 0;
    border: 1px solid #90cf72;
    border-left: none;
}

.add-comment-button:hover {
    background-color: #68ada9;
    color: #000;
}

.add-comment-button:hover {
    background-color: #68ada9;
}
